header{
    width: 1,440px;
    height: 82px;
    background-color: black;
    display: flex;
    align-items: center;
}
.t3{
    margin-left: 30px;
}
.t{
    width: 30px;
    height: 30px;
    margin-left: 1027px;
}
.t1{
    width: 192px;
    height: 82px;
    background-color: darkorange;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}
.t1:hover{
    background-color: rgb(255, 60, 60);
}
.t2{
    margin-left: 30px;
}
.ota{
    width: 1,440px;
    height: 44px;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.s{
    background-color: rgb(41, 41, 41);
    height: 44px;
    color: white;
}
.s1{
    background-color: black;
    color: white;
}
.p1{
    color: white;
}
.ota1{
    width: 1,440px;
    height: 797px;
    background-image: url(image\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.t4{
    width: 235px;
    height: 73px;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    margin-left: 453px;
    position: absolute;
    top: 475px;
    font-size: 25px;
    align-items: center;
}
.t5{
    width: 235px;
    height: 73px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 752px;
    position: absolute;
    top: 475px;
    font-size: 20px;
    align-items: center;
}
.ota2{
    width: 966px;
    height: 202px;
    background-color: darkorange;
    border-radius: 10px;
    margin-left: 263px;
    position: absolute;
    top: 579px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    opacity: 0.5;
}
.t4:hover{
    background-color: rgb(255, 60, 60);
}
.t5:hover{
    background-color: rgb(255, 60, 60);
}
.hh{
    color: white;
}
.ota2:active{
    background-color: rgb(100, 55, 0);
}
footer{
    width: 1,440px;
    height: 82px;
    background-color: black;
    display: flex;
    align-items: center;
}
.t6{
    margin-left: 30px;
    display: flex;
}
.dv{
    display: flex;
    margin-left: 1164px;
}
.dv1, .dv2{
    margin-left: 40px;
}